$color-white: #FFFFFF;
$color-red: #F03000;
$color-lightgrey: #80808080;
$color-black: #000000;
$color-lightblue: #F0F0F0;
$color-meiumgrey: #888888;
$color-darkgrey: #444444;


body {
font-family: 'Montserrat', 'Open Sans', sans-serif;
}

h1 {
    color: $color-red;
}